# ***Python Assignment 3***

1.1 Write a Python Program to implement your own myreduce() function which works exactly like Python's built-in function reduce()

In [4]:
def myreduce(func,seq):
  # item in sequence then assign to result
  result = seq[0]
  
  # iterate over remaining items in sequence and apply reduction function 
  for item in seq[1:]:
    result = func(result, item)
  return result

 # myreduce((lambda x, y: x * y),[9, 8, 7, 6])

In [7]:
my_reduce = myreduce((lambda x,y: x*y), [9,8,6,5])
my_reduce

2160

1.2 Write a Python program to implement your own myfilter() function which works exactly like Python's built-in function filter()

In [19]:
def myfilter(func, seq):
  result = []
  for item in seq:
    if func(item):
      result.append(item)
  return result

In [21]:
# test myfilter function
def ispositive(x):
 if (x >= 0): 
  return False 
 else: 
  return True


print ("Filter only positive Integers on list [0,1,-2,3,4,5] using custom filter function"  + str(myfilter(ispositive, [0,1,-2,3,4,5])))

Filter only positive Integers on list [0,1,-2,3,4,5] using custom filter function[-2]

Problem 2

Implement List comprehensions to produce the following lists.

Write List comprehensions to produce the following Lists

['A', 'C', 'A', 'D', 'G', 'I', ’L’, ‘ D’]

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

[[2], [3], [4], [3], [4], [5], [4], [5], [6]]

[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]

[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]

In [22]:
myword = []
for i in 'ACADGILD':
  myword.append(i)
myword

['A', 'C', 'A', 'D', 'G', 'I', 'L', 'D']

In [27]:
mylist_1 = ['x','y','z']
op = [j*i for j in mylist_1 for i in range(1,5)]
print(op)

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

In [28]:
op_2 = [j*i for i in range(1,5) for j in mylist_1]
op_2

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

In [30]:
num_list = [2,3,4]
num_op = [[j+i] for j in num_list for i in range(0,3)]
num_op

[[2], [3], [4], [3], [4], [5], [4], [5], [6]]

In [33]:
num_list_2 = [2,3,4,5]
num_op_2 = [[j+i for j in num_list_2] for i in range(0,4)]
num_op_2

[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]

In [35]:
num_list_3 = [1,2,3]
num_op_3 = [(b,a) for a in num_list_3 for b in num_list_3]
num_op_3

[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]